img{
    margin: 0 auto;
    width:100%;
    height:auto;
}

.profilePicture{
    border-radius: 50%;
    margin: 0 auto;
    max-width:300px;
    height:auto;
}

.icon{
    width:50px;
    height:auto;
}

.aboutMePictures{
    max-width: 250px;
    height:auto;
}