:root{
    font-size: 25px;
    font-family: 'Work Sans', sans-serif;
    --text-primary: #df1e1e;
    --bg-primary:rgb(238, 4, 184);
    --bbg-secondary:rgb(28, 194, 13)(235, 163, 163);
}

body{
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

.iconContainer div:hover{
    background-color: #90de68;
    border-radius: 30%;
}

.iconContainer div:active{
    background-color: #bdeba7;
    border-radius: 30%;
}

h2, h3 {
    font-family: 'Caveat', cursive;
    font-size: 30px;
}

main{
    margin-left: 5rem;
    padding-left: 1rem;
}

.navbar{
    position: fixed;
    background-color: var(--bg-primary);
    overflow: scroll;
    transition: width 200ms ease;
}

.navbar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item{
    width:100%;
}

.nav-link{
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: 600ms;
}

.nav-link:hover{
    filter: grayscale(0%) opacity(1);
    background-color: yellow;
    color: rgb(45, 0, 244);
}

.link-text{
    display: none;
    margin-left: 1rem;
}

.nav-link svg{
    min-width: 2rem;
    width:2rem;
    margin: 0 1.5rem;
}

img{
    margin: 0 auto;
    width:100%;
    height:auto;
}

.profilePicture{
    border-radius: 50%;
    margin: 0 auto;
    max-width:300px;
    height:auto;
}

#logo{
    max-width: 300px;
}

.icon{
    width:50px;
    height:auto;
}

.aboutMePictures{
    max-width: 250px;
    height:auto;
}