@media only screen and (max-width: 600px){

    .navbar{
        bottom: 0;
        width: 100%;
        height: 5rem;
    }

    #logo{
        display: none;
    }

    .navbar-nav{
        flex-direction: row;
    }

    .nav-link{
        justify-content: center;
    }

    main{
        margin: 0;
    }
    
    .aboutMe{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-gap: 20px;
        justify-items: center;
        align-items: center;
        width: 100%;
    }

    body{
        margin: 0 auto;
        justify-items: center;
        align-items: center;
    }

}